// Fuentes
$fuentePrincipal: 'Poppins', sans-serif;
$fuenteSecundaria: 'Roboto', sans-serif;

//Media Querys
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

//Colores
$primary: #84d9bc;
$secundario: #313c4e; 
$secundarioOpacity: rgb( 57 70 89 / .7 );
$negro: #000000;
$blanco: #FFFFFF;

//unidades
$separacion: 5rem;