@use 'base/variables' as v;
@use 'base/mixins' as m;

.planes{
    background-color: v.$secundario;

    h2{
        @include m.headingBorder(v.$blanco,v.$primary);
    }

    p {
        margin-top: 1.4rem;
        font-size: 2rem;
        line-height: 2;
    }

    .descripcion{
        color: v.$blanco;
    }

}

.nuestros-planes{
    display: flex;
    flex-direction: column;

    @include m.tablet{
        flex-direction: row;
        max-width: 80rem;
        margin-inline: auto;
        margin-block-start: 10rem;
    }
    .plan{
         background-color: v.$blanco;
         flex-grow: 1;
         padding: 16rem 4rem 4rem 4rem;
         text-transform: uppercase;
         border-bottom: 1px solid #e1e1e1;

        @include m.tablet{
            border-bottom: none;
            transition: transform .3s ease;
            &:hover{
                transform: scale(1.1);
            }
        }


        .precio{
            font-size: 4.8rem;
            text-align: center;
            font-weight: 700;
        }

        .listado{

            li{
                text-align: center;
                margin-bottom: 2rem;

                &:last-of-type{
                    margin-bottom: 0;
                }
            }
        }

        &.inicio{
            @include m.iconoBg('../img/icono_inicio.svg');
        }
        
        &.pro{
            @include m.iconoBg('../img/icono_pro.svg');
        }
        
        &.negocio{
            @include m.iconoBg('../img/icono_negocio.svg');
            background-color: v.$primary;
            order: -1;

            @include m.tablet{
                order: unset;
                margin: -5rem 0;
                border-radius: 2rem;
                background-position: 50% 7rem;
                padding-top: calc(16rem + 5rem);
                z-index: 1;
            }
        }
    }
}